#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3  &kp N4     &kp N5  &kp N6                                                                    &kp N7  &kp N8  &kp N9  &kp N0     &kp MINUS  &kp EQUAL  &trans
&kp TAB    &kp Q     &kp W     &kp E   &kp R      &kp T   &kp Y                                                                     &kp Y   &kp U   &kp I   &kp O      &kp P      &kp LBKT   &kp RBKT
&kp CAPS   &kp A     &kp S     &kp D   &kp F      &kp G   &trans            &trans     &trans       &trans    &kp DEL               &kp H   &kp J   &kp K   &kp L      &kp SEMI   &kp APOS   &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C   &kp V      &kp B                                &kp PG_UP    &kp HOME                                &kp N   &kp M   &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
&kp LCTRL  &kp LALT  &kp LEFT  &kp UP  &kp RIGHT                  &kp BSPC  &kp ENTER  &kp PG_DN    &kp END   &kp SPACE  &kp ENTER                  &trans  &trans     &trans     &trans     &trans
            >;
        };
    };
};
